<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map Location App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  <!-- <ion-button (click)="viewMap()" >Ir a la página 2</ion-button> -->

  <div id="container">
    <div id="world">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Latitude</ion-label>
        <ion-input [(ngModel)]="latitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Longitude</ion-label>
        <ion-input [(ngModel)]="longitude"></ion-input>
      </ion-item>
    </div>
  </div>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="viewMap()" routerDirection="forward">
    <ion-icon name="location"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
